
@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
    background: #000000;
    color: rgb(126, 11, 11);
    margin: 0;
    font-family: 'Bebas Neue', cursive;
}

a:link {
    text-decoration:none;
    font-size: 20px;
}
A:visited {
    color: #ffffff;  
    text-decoration: none; 
}

h1 {
    color: #ffffff;
    text-align: center;
    font-size: 60px;
}

h3 {
    color:#ffff;
    font-size: 50px;
    text-align: center;
    text-justify: auto;
}

h2 {
    color: #ffffff;
    text-align: center;
    font-size: 80px;
    align-items: center;
}

.perfil {
    border-radius: 50%;
    max-height: 200px;
    min-width: 200px;
    align-items: center;
    padding: 50px;
}

.container {
    text-align: center;
    margin-bottom: 80px;
}

.parallax {
    background-image: url("./images/giphy.gif");
    min-height: 700px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    
}

.parallax1 {
    background-image: url("./images/skils.gif");
    min-height: 500px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

.parallax2 {
    background-image: url("./images/plan.jpg");
    min-height: 500px; 
    background-attachment: fixed;
    background-position: center;
   /*  margin: 20px; */   
}

.parallax3 {
    background-image: url("./images/contact.gif");
    min-height: 800px; 
    background-attachment: fixed;
    background-repeat:repeat-x;
    background-position: center;
   /*  margin: 80px; */
    
}


.article {
    background:rgb(126, 11, 11);
    color:#ffff;
    font-size: 50px;
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
}

.article1 {
    background:rgb(2, 17, 27);
    color:#ffff;
    font-size: 50px;
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    padding: 150px;
    margin-bottom: 100px;
}

.article2 {
    padding: 200px;

}


.skills {
    width: 75px;
    height: 75px;
    padding:10px;
    margin:30px;
}

.proyect {
    width: 500px;
    height: 300px;
    padding: 10px;
    margin:30px;
    border-radius: 10%;
    
}

.proyects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}


::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  ::-webkit-scrollbar-thumb {
    background: var(--red-color);
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
  }
  
  
  .container1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin : 20vmin;
    overflow: hidden;
    transform: skew(5deg);
}
.card {
    flex: 1;
    transition: all 1s ease-in-out;
    height: 20vmin;
    width: 20vmin;
}
.card:hover {
    flex-grow: 10;
}
.images:hover {
    filter: grayscale(0);
    
}
.images {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: all 1s ease-in-out;
    filter: grayscale(100%);
}

p {
    font-size: 30px;
}

.typed{
    color: rgb(131, 5, 5);
}

.section { 
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(255, 240, 240);
    text-shadow: 0 0 80px #000;
    font-size: 150px;       
}


.red { 
    color: rgb(161, 3, 3);     
}


.box {
    align-items: center;
    border: 1px solid #fff;
    border-radius: 10px;

    width: 500px;
    height: 600px;
    background-color: rgb(15, 11, 11);
    opacity: 0.9;
    padding: 20px;
    margin: 20px;
}

.imagenes {
    margin: top 40px;
    margin: bottom 40px;
}

.margin {
    margin-left: 20%;
    margin-right: 20%;
}

@media screen and (max-width:480px) {

    .parallax1 {
        background-size: 100%;
    }
    
    .article1 {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
}